body{
  padding: 0;
  margin: 0;
}
#heading{
  background: ;
  color: white;
  

}
#para{
  color: violet;
margin: 34px;
}
#link{
  text-align: center;
}
.container{
  height: 100vh;
  width: 100%;

  
  
}