* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body{
  background-color: pink;
  min-height: 100vh;
}

.heading h4,
.heading h6{
  margin: 0;
  padding: 0;
}

.heading{
  background: black;
  
}

.container{
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  
}
.card{
  
  background-color: yellow;
  border:2px solid black;
  border-radius: 25px;
  text-align: center;
  
  display: grid;
  place-items: center;
}
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding:  15px;
  font-size: 4px;
}

footer p {
  margin: 0;
}